<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello</h1>
    <p>
      We would like to inform you that an article has just been published for the course "
      <%= @course.title %>"
    </p>
    <p>Have a great day!</p>
  </body>
</html>
