<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.email %></h1>
    <p>
      We would like to inform you that your article has been published successfully.
    </p>
    <p>Have a great day!</p>
  </body>
</html>
